body, html {
    /* The image used */
    background-image: url("../images/signup.jpg");
    margin: 0;



  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  }


#container_{

    height: 80%;
    width: 35%;

	z-index: 9999;
	position: absolute;
	top:0;
	bottom: 0;
	left: 40%;
	right: 0;
  	
    margin: auto;


}

#signUpform{
    min-width: 100px;
    
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}


/*TODO: write media queries to align signup card */

@media only screen and (max-width: 700px) {
    #container_ {
      left:0;
    }
  }



  